.form-login{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40vh;
  width: 200px;
  height: 300px;

  display: block;
}
button{
  width: 80px;
}
.button-forgot{
  width: 150px;
}
.form-info{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40vh;
  width: 400px;
  height: 300px;

  display: none;
}
.button-logout{
  margin-left: 380px;
}
.button-post{
  margin-left: 150px;

  display: none;
}